// Setup - start
@use "sass:color";
@use "sass:list";

$breakpoint__: 450px;
$breakpoint__x-small: 450px;
$breakpoint__small: 768px;
$breakpoint__medium: 992px;
$breakpoint__large: 1200px;
$breakpoint__x-large: 1700px;

$colour-primary: #f0f1de;
$colour-secondary: #0d0d0d;
$colour-highlight: #003320;
$colour-grey: #505050;
$colour-debug: rgb(247, 7, 127);

$text-size: 16px;
$general-font: "Times New Roman", Times, serif;
$special-font: "Goudy Bookletter 1911", "Times New Roman", Times, serif;

$padding__standard: 2rem;
$padding__thin: calc($padding__standard / 2);

$margin__standard: $padding__standard;
$margin__thin: calc($margin__standard / 2);

@mixin reset-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

// Takes a number of columns and optionally their widths
@mixin single-row-grid($number-of-columns, $column-widths: (auto)) {
	$columns: "";
	@if (
		// Check to make sure there is a width for each column
		list.length($column-widths) !=
			($number-of-columns) and
			list.length($column-widths) !=
			1
	) {
		@error "Must be as many column widths as number of columns";
	} @else if (list.length($column-widths) == 1) {
		@for $i from 1 through $number-of-columns {
			$columns: #{$columns} #{$column-widths};
		}
	} @else {
		@for $i from 1 through $number-of-columns {
			$columns: #{$columns} #{list.nth($column-widths, $i)};
		}
	}
	display: grid;
	@debug "columns: #{$columns}";
	grid-template-columns: $columns;
	grid-template-rows: 100%; // Stops child elements from breaking bounds
	$columns: "";
	@if (
		// Check to make sure there is a width for each column
		list.length($column-widths) !=
			($number-of-columns) and
			list.length($column-widths) !=
			1
	) {
		@error "Must be as many column widths as number of columns";
	} @else if (list.length($column-widths) == 1) {
		@for $i from 1 through $number-of-columns {
			$columns: #{$columns} #{$column-widths};
		}
	} @else {
		@for $i from 1 through $number-of-columns {
			$columns: #{$columns} #{list.nth($column-widths, $i)};
		}
	}
	display: grid;
	@debug "columns: #{$columns}";
	grid-template-columns: $columns;
	grid-template-rows: 100%; // Stops child elements from breaking bounds
}
@mixin flow-container($breakpoint: $breakpoint__medium) {
	display: flex;
	flex-direction: column;
	@media only screen and (min-width: $breakpoint) {
		flex-direction: row;
	}
	flex-wrap: nowrap;
	gap: $margin__thin;
	margin-bottom: $margin__standard;
@mixin flow-container($breakpoint: $breakpoint__medium) {
  display: flex;
  flex-direction: column;
  @media only screen and (min-width: $breakpoint) {
    flex-direction: row;
  }
  flex-wrap: nowrap;
  gap: $margin__thin;
  margin-bottom: $margin__standard;
}
// Setup and definitions - end

/* General stylings and helper classes - start */
:root {
  --center-panel-width: 90%;
}

html {
	font-size: $text-size;
	font-weight: 400;
	font-family: $special-font;
	font-size: $text-size;
	font-weight: 400;
	font-family: $special-font;
}

* {
	box-sizing: border-box;
	// border: 2px solid $colour-debug; // Debug borders
	box-sizing: border-box;
	// border: 2px solid $colour-debug; // Debug borders
}

body {
  overflow-x: hidden;
  background-color: $colour-highlight;
  text-align: justify;

  // background-image: url("../assets/img/paper.png");
  // background-repeat: repeat;
  // background-attachment: scroll;
  // background-size: 700px;
}

.heading-base {
  font-family: $special-font;
  text-align: center;
  &::before {
    content: "";
    background: url("../assets/logos/Leaf_Left.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 0.2em; /* spacing*/
    padding-left: 1.5em; /* sizing */
  }
  &::after {
    content: "";
    background: url("../assets/logos/Leaf_Right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.2em; /* spacing*/
    padding-right: 1.5em; /* sizing */
  }
}

h1 {
  @extend .heading-base;
  font-size: 1.7em;
}

h2 {
  @extend .heading-base;
  font-size: 1.3em;
}

h3 {
  @extend .heading-base;
  font-size: 1.3em;
}
h4 {
  @extend .heading-base;
  font-size: 1.1em;
  text-align: start;
  margin-bottom: 0;
  &::after,
  &::before {
    content: none;
  }
}

p {
  font-family: $general-font;
  margin-block: calc($padding__thin/2);
}

a {
  color: $colour-highlight;
}

/* Standardise images to aid formatting */
.img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	max-height: 100%;

  img {
    @include reset-img;
  }
}

.centered {
  p {
    text-align: center;
  }
}

.text-box {
  h3 {
    margin-top: 0;
  }
  p {
    // text-align: left;
  }
  // border: 0.5rem double $colour-highlight;
  // padding: $padding__thin;
  // margin: $margin__standard 0;
  // margin-block-start: 0;
  // margin-block-end: 0;
}
/* General stylings and helper classes - end */
#background {
  background-color: $colour-primary;
  background-image: url("../assets/img/paper.webp");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 700px;
  width: var(--center-panel-width);
  margin-left: auto;
  margin-right: auto;
  border-radius: 2rem;
}
/* Header stuff - start */
.header {
  font-family: $special-font;
  z-index: 10;
  width: var(--center-panel-width);
  margin-left: auto;
  margin-right: auto;
}
header {
  @extend .header;
  // background-color: $colour-primary;
  padding: $padding__thin;
  padding-top: $padding__standard;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  width: 100%;

  // background-image: url("../assets/img/paper.png");
  // background-repeat: repeat;
  // background-attachment: scroll;
  // background-size: 700px;

  .header__item {
  }

  .main-logo {
    width: 100%;
    margin: auto;
    padding-right: $padding__thin;
    max-height: unset;
    // background-color: $colour-primary;
  }
}
nav {
  @extend .header;
  background-color: $colour-highlight;
  position: sticky;
  top: -1px;
  $link-colour: $colour-primary;
  color: $link-colour;

  .navigation-list {
    width: 100%;
    padding-inline-start: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0rem $margin__thin;

	// 	li {
	// 		display: inline-block;

      a {
        font-variant: small-caps;
        font-weight: 800;
        font-size: 1.5rem;
        text-decoration: none;
        color: inherit;
        &:hover {
          color: color.adjust($link-colour, $saturation: -30%);
        }
        &:visited {
          color: $link-colour;
        }
      }
    }
  }
}
/* Header stuff - end */

main {
  font-family: $general-font;
  // width: var(--center-panel-width);
  // background-color: $colour-primary;
  color: $colour-secondary;
  padding-top: $padding__standard;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;

  margin: auto;

  // background-image: url("../assets/img/paper.png");
  // background-repeat: repeat;
  // background-attachment: scroll;
  // background-size: 700px;

  > section {
    padding: $padding__thin $padding__standard;
    // border-bottom: 0.1rem solid $colour-highlight;
    // margin-bottom: $margin__standard;
  }
}

.home-section {
  > div {
    margin-bottom: unset;
  }
  padding-top: 0;

  h2 {
    margin-top: 0;
  }
  h3 {
    margin-top: $margin__standard;
  }

	.home-section__title {
		font-size: 3rem;
		font-weight: bold;
		text-align: center;
		margin-block-start: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 70%;
	}
	.home-section__title {
		font-size: 3rem;
		font-weight: bold;
		text-align: center;
		margin-block-start: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 70%;
	}

  .home-section__text {
    // font-size: 1.4rem;
    flex: 1 1;

		> p {
			margin-block-start: 0;
		}
	}
		> p {
			margin-block-start: 0;
		}
	}

	.home-section__photo {
		flex-basis: 20rem;
		flex: 1 1;
		min-width: 250px;
		// max-height: 60vh;
		overflow: hidden;
	.home-section__photo {
		flex-basis: 20rem;
		flex: 1 1;
		min-width: 250px;
		// max-height: 60vh;
		overflow: hidden;

		> img {
			border-radius: 3rem;
		}
	}
		> img {
			border-radius: 3rem;
		}
	}
}

.gallery-section {
	position: relative;
	padding-bottom: 0;
	.gallery__collapsible {
		width: 100%;
		// max-height: 100rem;
	position: relative;
	padding-bottom: 0;
	.gallery__collapsible {
		width: 100%;
		// max-height: 100rem;

		// transition: max-height 5s linear;
		// overflow-y: scroll;
		// transition: max-height 5s linear;
		// overflow-y: scroll;

		.gallery__photos {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-content: flex-start;
			gap: $margin__thin;
			width: 100%;
			padding-bottom: 0;
		}
		.gallery__photos {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			align-content: flex-start;
			gap: $margin__thin;
			width: 100%;
			padding-bottom: 0;
		}

		&--collapsed {
			mask-image: linear-gradient(rgba(0, 0, 0, 1) 80, rgba(0, 0, 0, 0));
			-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 95%);
			overflow-y: hidden;
			max-height: 15rem;
		&--collapsed {
			mask-image: linear-gradient(rgba(0, 0, 0, 1) 80, rgba(0, 0, 0, 0));
			-webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 95%);
			overflow-y: hidden;
			max-height: 15rem;

			// mask: linear-gradient(rgba(0, 0, 0, 1), (0, 0, 0, 0));
			// transition: max-height 5s ease-out;
		}
	}
	.gallery__button {
		@mixin twig-rotate($side, $direction) {
			// left down = 0 10 12 10 90 | 0 0.02 0.025 0.02 0.25
			// left up = 90 80 78 80 0 | 0.25 0.23 0.225 0.23 0
			// right down = 0 -10 -12 -10 -90
			// right up = -90 -80 -78 -80 0
			$sideReverse: 1;
			$directionStart: 0;
			$directionReverse: 1;
			// mask: linear-gradient(rgba(0, 0, 0, 1), (0, 0, 0, 0));
			// transition: max-height 5s ease-out;
		}
	}
	.gallery__button {
		@mixin twig-rotate($side, $direction) {
			// left down = 0 10 12 10 90 | 0 0.02 0.025 0.02 0.25
			// left up = 90 80 78 80 0 | 0.25 0.23 0.225 0.23 0
			// right down = 0 -10 -12 -10 -90
			// right up = -90 -80 -78 -80 0
			$sideReverse: 1;
			$directionStart: 0;
			$directionReverse: 1;

			@if $side == "right" {
				$sideReverse: -1;
			}
			@if $direction == "up" {
				$directionStart: 90;
				$directionReverse: -1;
			}
			@if $side == "right" {
				$sideReverse: -1;
			}
			@if $direction == "up" {
				$directionStart: 90;
				$directionReverse: -1;
			}

			@keyframes twig-rotate-#{$side}-#{$direction} {
				0% {
					transform: rotate(
						#{calc(($directionStart + (0 * $directionReverse)) * $sideReverse)}deg
					);
				}
				10% {
					transform: rotate(
						#{calc(($directionStart + (10 * $directionReverse)) * $sideReverse)}deg
					);
				}
				25% {
					transform: rotate(
						#{calc(($directionStart + (15 * $directionReverse)) * $sideReverse)}deg
					);
				}
				30% {
					transform: rotate(
						#{calc(($directionStart + (10 * $directionReverse)) * $sideReverse)}deg
					);
				}
				// 40% {
				// 	transform: rotate(
				// 		#{calc(($directionStart + (15 * $directionReverse)) * $sideReverse)}deg
				// 	);
				// }
				100% {
					transform: rotate(
						#{calc(($directionStart + (90 * $directionReverse)) * $sideReverse)}deg
					);
				}
			}
			@keyframes twig-rotate-#{$side}-#{$direction} {
				0% {
					transform: rotate(
						#{calc(($directionStart + (0 * $directionReverse)) * $sideReverse)}deg
					);
				}
				10% {
					transform: rotate(
						#{calc(($directionStart + (10 * $directionReverse)) * $sideReverse)}deg
					);
				}
				25% {
					transform: rotate(
						#{calc(($directionStart + (15 * $directionReverse)) * $sideReverse)}deg
					);
				}
				30% {
					transform: rotate(
						#{calc(($directionStart + (10 * $directionReverse)) * $sideReverse)}deg
					);
				}
				// 40% {
				// 	transform: rotate(
				// 		#{calc(($directionStart + (15 * $directionReverse)) * $sideReverse)}deg
				// 	);
				// }
				100% {
					transform: rotate(
						#{calc(($directionStart + (90 * $directionReverse)) * $sideReverse)}deg
					);
				}
			}

			$duration: 800ms;
			$delay: 0ms;
			@if #{$side}#{$direction} == "leftdown" or #{$side}#{$direction} == "rightup" {
				$delay: calc($duration / 15);
			}
			$duration: 800ms;
			$delay: 0ms;
			@if #{$side}#{$direction} == "leftdown" or #{$side}#{$direction} == "rightup" {
				$delay: calc($duration / 15);
			}

			transform-origin: bottom $side;
			animation-name: twig-rotate-#{$side}-#{$direction};
			animation-duration: $duration;
			animation-timing-function: ease-out;
			animation-fill-mode: both;
			animation-delay: $delay;
		}
			transform-origin: bottom $side;
			animation-name: twig-rotate-#{$side}-#{$direction};
			animation-duration: $duration;
			animation-timing-function: ease-out;
			animation-fill-mode: both;
			animation-delay: $delay;
		}

		// border: 2px dashed $colour-debug;
		width: 100%;
		height: 5rem;
		padding: $padding__thin;
		padding-bottom: 0;
		background: radial-gradient(
			circle,
			color.adjust($colour-primary, $alpha: -0.5),
			color.adjust($colour-primary, $alpha: -1)
		);
		// background-image: linear-gradient(
		// 	rgba(255, 255, 255, 0),
		// 	rgba(255, 255, 255, 0.8),
		// 	rgba(255, 255, 255, 1)
		// );
		// -webkit-backdrop-filter: opacity(0%);
		// backdrop-filter: blur(5px);
		// mask: linear-gradient(white, black 60%);
		// border: 2px dashed $colour-debug;
		width: 100%;
		height: 5rem;
		padding: $padding__thin;
		padding-bottom: 0;
		background: radial-gradient(
			circle,
			color.adjust($colour-primary, $alpha: -0.5),
			color.adjust($colour-primary, $alpha: -1)
		);
		// background-image: linear-gradient(
		// 	rgba(255, 255, 255, 0),
		// 	rgba(255, 255, 255, 0.8),
		// 	rgba(255, 255, 255, 1)
		// );
		// -webkit-backdrop-filter: opacity(0%);
		// backdrop-filter: blur(5px);
		// mask: linear-gradient(white, black 60%);

		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	opacity: 0;
		// 	-webkit-backdrop-filter: blur(10px);
		// 	backdrop-filter: blur(10px);
		// 	mask: linear-gradient(transparent, black 60%);
		// 	// transition: 1s;
		// }
		// &:before {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	opacity: 0;
		// 	-webkit-backdrop-filter: blur(10px);
		// 	backdrop-filter: blur(10px);
		// 	mask: linear-gradient(transparent, black 60%);
		// 	// transition: 1s;
		// }

		display: flex;
		align-items: flex-start;
		justify-content: center;
		img {
			height: 50%;
			display: block;
			position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		img {
			height: 50%;
			display: block;
			position: relative;

			// transform: translateY(-50%);
			// margin: auto;
			// transition: transform 0.7s ease-in-out;
		}
		#left-twig {
			@include twig-rotate(left, up);
			left: 3px;
		}
		#right-twig {
			@include twig-rotate(right, up);
		}
			// transform: translateY(-50%);
			// margin: auto;
			// transition: transform 0.7s ease-in-out;
		}
		#left-twig {
			@include twig-rotate(left, up);
			left: 3px;
		}
		#right-twig {
			@include twig-rotate(right, up);
		}

		&:hover {
			cursor: pointer;
		}
		&:hover {
			cursor: pointer;
		}

		&--collapsed {
			position: absolute;
			bottom: 0;
			background: none;
			img {
				// transform: translate(0, -50%);
				// transition: transform 0.7s ease-in-out;
			}
			#left-twig {
				@include twig-rotate(left, down);
			}
			#right-twig {
				@include twig-rotate(right, down);
		&--collapsed {
			position: absolute;
			bottom: 0;
			background: none;
			img {
				// transform: translate(0, -50%);
				// transition: transform 0.7s ease-in-out;
			}
			#left-twig {
				@include twig-rotate(left, down);
			}
			#right-twig {
				@include twig-rotate(right, down);

				// transform: rotate(-90deg);
			}
		}
	}
				// transform: rotate(-90deg);
			}
		}
	}
}

.pretend-image {
	display: block;
	width: 250px;
	height: 250px;
	// border: 3px solid $colour-debug;
	display: block;
	width: 250px;
	height: 250px;
	// border: 3px solid $colour-debug;
}

.about-section {
  // display: flex;
  // flex-flow: column nowrap;
  // align-items: center;
  // justify-content: space-between;
  // gap: $margin__standard;
  > div {
    margin: 0;
    // max-width: 90%; // For larger screens

    // @media only screen and (min-width: $breakpoint__medium) {
    //   &:nth-child(odd) {
    //     align-self: flex-start;

    //     text-align: left;
    //   }

    //   &:nth-child(even) {
    //     align-self: flex-end;

    //     text-align: right;
    //   }
    // }

    align-self: center;
  }
  #text-img {
    overflow: auto;
    // @include flow-container();
    // align-items: center;
    > .photo--oval {
      float: right;
      // clear: left;
      border-radius: 50%;
      shape-outside: border-box;
      border: transparent solid $margin__thin;
      border-bottom: 0;
      margin-top: calc($margin__standard * 1.25);
      width: 70%;

      img {
        border-radius: 50%;
        max-height: 40vh;
      }
    }

    > .photo--rect {
      float: right;
      border-radius: 10%;
      margin: $margin__thin;
      margin-top: 0.3rem;
      width: 50%;
      overflow: hidden;
      max-height: 60vh;
      img {
        height: 100%;
        max-height: 100%;
        // border-radius: 10%;
        // max-height: 60vh;
      }
    }

    p {
      padding-right: $padding__standard;
      margin-block-start: 0;
    }
  }
}

.faq-section {
}

.contact-section {
  form {
    margin: $margin__standard 0;
    padding: $padding__thin;
    border: $colour-highlight double 5px;
    display: grid;
    // grid-template: "name email" "message message" "submit .";
    grid-template: "name ." "email ." "message message" "submit .";
    gap: $margin__thin;
    font-size: 1.1rem;

    label {
      display: block;
      margin-bottom: calc($margin__thin/2);
    }
    input,
    textarea {
      font-size: 1rem;
      padding: 0;
      display: block;
      background-color: transparent;
      border: unset;
      border-bottom: $colour-secondary solid 1px;
      width: 100%;
      &:focus-visible {
        outline: none;
      }
    }
    button {
      grid-area: submit;
      width: fit-content;
      padding: calc($padding__thin/2) $padding__thin;
      background-color: $colour-highlight;
      border-radius: 30%/50%;
      color: $colour-primary;
      svg {
        vertical-align: top;
      }
    }

    .form-row:has(#name) {
      grid-area: name;
    }
    .form-row:has(#email) {
      grid-area: email;
    }
    .form-row:has(#message) {
      grid-area: message;
    }
    .form-row:has(#submit) {
      grid-area: submit;
    }
    .honeypot {
      display: none;
    }
  }
}

footer {
  width: var(--center-panel-width);
  margin: $margin__thin auto;
  padding: 0 $padding__thin;
  height: 15vh;
  .footer__imgs {
    @include flow-container();
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-bottom: $margin__thin;

    .footer-img {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .footer__extra {
    p {
      font-family: sans-serif;
    }
    a {
      color: inherit;
    }
    text-align: center;
  }
}

@media only screen and (max-width: $breakpoint__x-small) {
	html {
		font-size: 14px;
	}
	html {
		font-size: 14px;
	}
}
@media only screen and (min-width: calc($breakpoint__x-small + 1px)) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: $breakpoint__small) {
  html {
    font-size: 16px;
  }
  :root {
    --center-panel-width: 85%;
  }
  .main-logo {
    width: 80% !important;
  }
  .about-section {
    #text-img {
      > .photo--rect {
        width: 30%;
      }
    }
  }
}

@media only screen and (min-width: $breakpoint__medium) {
  html {
    font-size: 18px;
  }
  :root {
    --center-panel-width: 80%;
  }
  .main-logo {
    width: 70% !important;
  }
  .about-section {
    #text-img {
      > .photo--rect {
        width: 30%;
      }
    }
  }
}
@media only screen and (min-width: $breakpoint__large) {
  html {
    font-size: 20px;
  }
  :root {
    --center-panel-width: 75%;
  }
  .main-logo {
    width: 60% !important;
  }
  .about-section {
    #text-img {
      > .photo--rect {
        width: 20%;
      }
    }
  }
}
